.helper
{
    background-color: white;
}
.vs
{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 100px;
    margin-top:3px;
    margin-bottom: 3px;
}
.seabox
{
    height: 45px;
    width: 83%;
    margin-left:100px ;
    border: 1px solid green;
    font-size: medium;
    padding-left: 10px;
    margin-top: 5px;

}
.r1
{
    font-size: medium;
    margin-top:-5px;
}
.r2
{
    font-weight: bold;
    font-size:medium;
    margin-right: 3px;
}
.class1
{
    height: 250px;
    width: 330px;
    border: 1px solid lightgray;
    padding-left: 10px;
}
.prim1
{
    height: 80px;
    width: 400px;
  margin-left: 70px;
  margin-top: 20px;
}
.class2
{
    height: 250px;
    width: 500px;
    border:  1px solid lightgray;
}
.help
{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-left: 100px;
}
.class2p
{
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}
.class2p1
{
    padding-left: 5px;
}
.class3
{
    width:350px !important ;
}
.r3{
        color: rgb(32, 102, 129);
}
.acord
{
    width: 83%;
    margin-left: 100px;
    margin-top: 30px;
}
.acord2
{
    height: 35px;
    width: 100%;
    font-size: xx-small;
    border-radius: none;
}
.acord3
{
    font-size: x-small;
}
.footer5
{
margin-top: -5px !important;
}
.inp{
    height: 60px;
    width: 300px;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: medium;
    margin-top: 6px;
    margin-left: 230px;

}
.con
{
    height: 45px;
    width: 120px;
    padding-top: -5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: medium;
    margin-top: 13px;

}
.helpfoot
{
    margin-top: 0px !important;
}
