.overall1
{
  display: flex;
  background-color: black;
  color: white;
}
.prime1
{
  width: 50%;
  padding-top: 20px;
  padding-left: 50px;
}
.image1
{
  height: 620px;
  width: 63%;
  object-fit: cover;
  object-position: 20px;
}
.content
{
  font-size: large;
}
.welcome
{
  font-size: 52px;
  padding-top: 30px;
}
.b1
{
  height: 50px;
  width: 350px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: large;
  font-weight: 500;
  margin-left: 70px;
  margin-top: 20px;
}
.b1:hover
{
  color: grey;
  box-shadow:0 15px 35px rgba(0,0,0,.8);
  background-color: lightgray;
}
.last1
{
  margin-top: 20px !important;
}
.caption
{
  font-size:large;
  margin-left:160px;
 margin-top: 17px;
}
.overall2
{
  margin-top: 50px;
}
.full
{
  background-color: black;
}
.rent
{
  height: 50px;
  width: 90px;
  margin-left: 0px !important;
  margin-top: 10px;
  font-weight: 600 !important;
}
.content1
{
  margin-top: 20px !important;
}
.prime2
{
  padding-top: 50px;
}
.imageset{
  width: 50%;
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}
.icon1
{
  height: 150px;
  width: 220px;
  border-radius: 15px;
}
.ice1
{
  margin-top: -20px;
}
.overall3
{
  height: 500px;
  background-color: rgb(4, 4, 5) !important;
}
.watch5
{
  height: 50px;
  width: 140px !important;
}
.prime3
{
  padding-top: 70px;
}
.footer
{
  height: 100px;
  background-color: rgb(29, 27, 27);
}
.foot-img
{
  height: 30px;
  width:80px;
  margin-left: 725px;
  margin-top: 10px;
}
.down1
{
  margin-top: 5px;
  font-size: small;
  margin-left:15px;

}
.p1
{
  color: rgb(198, 188, 188);
  font-size:small ;
  margin-left: 0px;
} 

