* {
    box-sizing: border-box;
}

.head1 {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    cursor: pointer;
}

.head2 {
    display: flex;
    gap: 11px;
    justify-content: space-between;
    cursor: pointer;
}

.Headermenu {
    height: 30px;
    width: 10
    0%;
    background-color: black; 
    display: flex;
    gap: 90px;
    color: white;
    font-size: xx-small;
    font-weight: 300;
    justify-content: space-around;
    padding-top: 8px;
    position: sticky;
    top:0px;
    z-index: 1000;
}

.btn1 {
    height: 20px;
    width: 60px;
    background-color: rgb(117, 169, 225);
    color: white;
    border: none;
    border-radius: 5px;
    margin: -3px;
}

.prime {
    font-weight: 600;
    margin-top: 3px;
}

.icn1 {
    padding-right: 5px;
    padding-left: -5px;
}

.profile-container {
    position: relative;
}

.profile_menu {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 110%;
    right: 0;
    left: -15px;
    background: rgb(87, 82, 82);
    border: none;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    z-index: 1000;
}

.profile-container:hover .profile_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.title1:hover {
    cursor: pointer;
    color: rgb(237, 241, 161);
}

.heading1 {
    color: grey;
    padding-top: 5px;
}

.title1 {
    color: white;
    padding-top: 10px;
}


.para1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
    padding-right: 2px;
    padding-top: -3px;
    width: 18px;
    height: 19px;
}

.para1:hover {
    background-color: grey;
    margin-top: -2px;
    color: black;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 1px;
}
.selectedpath
{
    background-color: grey;
    border-radius: 50%;
    padding-left: 2.3px;
    padding-top: 0.8px;
}
.button.sidemenu.selectedpath1 {
    background-color: grey !important;
}
.button
{
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    margin-bottom:5px;
    padding: 2px 4px;
    cursor: pointer;
}
.button:hover{
    background-color: lightgray
}
.bookmark{
    position: absolute;
     height: 100px;
     width: 70px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.search-box {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 80%;
  height: 100px;
  background-color:rgb(60, 53, 53);
  border-radius: 10px;
}

.search-box input {
  width: 90%;
  height: 45px;
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid white;
  background-color:rgb(94, 90, 90);
  outline: none;
}
.close-btn
{
    position: absolute;
    top: 55px;
    left: 635px;
    z-index: 1;
    border: none;
    background-color:rgb(60, 53, 53);
    color: white;
    
}



