.con3
{
    position: absolute;
    top: 110px !important;
    left: 30px !important;
}
.mx
{
    display: flex;
     padding-top: -20px;
     font-size:30px;
     font-weight: lighter;
}
.play
{
    color: black;
    height: 10px;
    width: 10px;
}
.play1
{
    display: flex;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 12px;
}
.mx1
{
    font-weight: bold;
}
.mn
{
   color: rgb(246, 133, 13);
   margin-top: -5px;
   font-size: 35px;
}
.ns
{
    font-size: large;
    font-weight: bolder;
    margin-top: -8px;
    margin-left: 50px;
}
.f2
{
    height: 60px;
    width: 140px !important;
    background-color: white;
    color: black;
    margin-right: 8px;
    font-size: medium;
    border-radius: 10px;
    margin-top: 3px;
}
.play3
{
    margin-right: 5px;
}
.sym2
{
  display: flex;
  height: 60px !important;  
  width: 60px;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
}
.sym1,.sym
{
    color:white !important;
    background-color: rgb(59, 57, 57)
}
.sym1:hover,.sym:hover
{
    color:black !important;
    background-color: white
}
.sym{
   margin-top: -7px;
   margin-left: 5px;
}
.last2
{
    display: flex;
    font-size: 16px;
    color: white;
    margin-top: 5px;
}
.t1
{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: blue;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 2px;
}
.t2
{
    height: 10px;
    width: 10px;
    color: white;
}
.sym3
{
    margin-top: 4px;
}
.con4
{
    position: absolute;
    top: 50px;
    left: 30px;
}
.i2
{
    height: 700px;
    width: 100%;
    object-fit: cover;object-position: 100% 0%;
}
.welcome1
{
    font-size: 80px;
}