*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.o2{
  display:flex;
  gap: 20px;
  padding-left: 20px;
  background-color: black;
}
 
.cardcontainer{
  position:relative;
  width:280px;
  cursor:pointer;
}
.movieCard{
  width:250px;
  height:180px;
}

.movieposter{
  width:290px;
  height:180px;
  border-radius:10px;
  object-fit:cover;
  padding-right: 20px;
}
.img{
  position:absolute;
  bottom:0px;
  right:2px;
  left: 190px;
  width:100px;
  border-radius: 10px;
}
.icon2{
  height: 20px;
  width: 20px;
  position:absolute;
  bottom:10px;
  left:5px;
  font-size:14px;
}

.moviecard1{
  width:290px;
  height:500px;
  position:absolute;
  top:-15px;
  left:-40px;
  background:#0f171e;
  border-radius:8px;
  margin-left: 20px;
  opacity:0;
  z-index:100;
  box-shadow:0 15px 35px rgba(0,0,0,.8);
}


.cardcontainer:hover .moviecard1{
  opacity:1;
  transform:scale(1);
  pointer-events:auto;
}


.hoverPoster{
  width:290px;
  height:200px;
  object-fit:cover;
  border-radius:8px 8px 0 0;
}


.title{
  color:white;
  font-size:23px;
  font-weight:600;
   padding-left: 10px;
}


.id{
  font-size:14px;
  color:#48d06f;
  padding-left:10px;
  margin-top: -15px;
}


.whole{
  display:flex;
  gap:10px;
  margin-top: -10px;
  padding-left: 8px;
  background-color: #0f171e;
}

.ic2{
  width:40px;
  height:40px;
  border-radius:50%;
  background:#2a2a2a;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
}
.ic2:hover{
  background-color: white;
  color: black;
}

.icon3{
  font-size:15px;
  padding-left:10px;
  margin-top: -5px;
  color: white;
}


.release{
  font-size:12px;
  color:white;
  padding-left:10px;
  margin-top: -10px;
}

.time{
  margin-left:6px;
}


.whole1{

  padding-left:10px;
  margin-top:-10px;
  color: white;
}

.age{
  font-size:16px;
  background:#555;
  padding:4px 6px;
  border-radius:3px;
}
.age1
{
  font-size: 16px;
}
.description{
  font-size:13px;
  color:#ccc;
  padding-left: 10px;
  padding-right: 5px;
  margin-top:-10px;
  line-height:1.4;
}
.see{
  height: 30px;
  width: 100px;
 margin-left: 680px;
 border: none;
 border-radius: 6px;
 background-color: gray;
 color: white;
 padding: 3px;
 margin-top: 30px;
 font-size: medium;
}
.footer1
{
  background-color: black;
  margin-top: 350px;
}
.yyear{
 color: #ccc;
}
.down2
{
  margin-left: 190px !important;
}
.foot{
  margin-top: 300px;
}
.up{
  height: 20px !important;
  width: 65px !important;
  font-size: small!important;
  margin-left: 115px;
}
.id1{
  font-size: 15px !important;
  margin-top: 5px;
}
.sub
{
  font-size: 14px;
}
.ice2{
  margin-top: 10px;
}
.ice3{
margin-top: -3px;
  margin-left: 3px;
  font-size: 20px;
}
.hovermatch{
   width:290px;
  height:440px !important;
}